{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div>
    <h1 class="search-title">Watchlist</h1>

    <div>
        {{ table }}

        {% if empty %}
            <p id="empty-message" style="text-align: center;">
                Your watchlist is currently empty!
            </p>
        {% endif %}    

        <!--put form here so that + button displays it?-->
        <div class="box" style="width: 50%; margin-top: 2%;">
            <div class="content">
                <div class="form">
                    <form method="POST" accept-charset="UTF-8" id='add-form'>
                        {{ add_form.csrf_token(id="add-csrf") }}
                        <div class="input-group offset-md-6">
                            {{ add_form.ticker_name(class="form-control border-1 small", style="font-size: 14px;") }}
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-dark btn-reset input-group-append align-items-center" style="font-size:12px;"
                                id="add-submit">
                                <i class="fas fa-plus-square"></i>                            
                                </button>
                            </div>
                        </div>
                        <div id="ticker-name-error" class="invalid-feedback" style="margin-left:50%;"></div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/watchlist.js"></script>
<link rel="stylesheet" type='text/css' href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script>
    let urlAdd = "{{ url_for('watchlist.add') }}";
    $(document).ready(function() {
            //this is previous function to reopen modal if any form errors were found
            const tableId = $("table[id^='watchlist-table']").attr('id')
            addAjax(urlAdd);
            $('#' + tableId).DataTable({
                "order": [],
            });
        });

</script>
{% endblock %}