{% extends "layout_2.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="text-center" style="margin-top: 15%;" id='loading'>
    <i class="fas fa-spinner fa-pulse fa-4x"></i>

    <h1 style="margin-top: 7.5%;"> Loading your Watchlist...</h1>
</div>

<div class="text-center" style="margin-top: 15%; display: none;" id="wait">
    <i class="fas fa-spinner fa-pulse fa-4x"></i>

    <h3 style="margin-top: 7.5%;"> Processing...</h1>
</div>

<div id="main-content" style="display: none;">
    <h1 class="search-title">Watchlist</h1>

    <div id="table-div">
        <p id="empty-message" style="text-align: center; display: none;">
            Your watchlist is currently empty!
        </p>
    </div>

    <!--put form here so that + button displays it?-->
    <div class="watchlist-form">
        <div class="content">
            <div class="form">
                <form method="POST" accept-charset="UTF-8" id='add-form'>
                    {{ add_form.csrf_token(id="add-csrf") }}
                    <div class="input-group offset-md-6">
                        {{ add_form.ticker_name(class="form-control border-1 small rounded modal-form", style="font-size: 14px;") }}
                        <button type="submit" class="btn btn-dark align-items-center rounded modal-form" style="font-size:12px;"
                        id="add-submit">
                        Submit                      
                        </button>
                    </div>
                    <div id="ticker-name-error" class="invalid-feedback modal-form" style="margin-left:50%;"></div>

                </form>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/watchlist.js"></script>
<link rel="stylesheet" type='text/css' href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script>
    const urlAdd = "{{ url_for('watchlist.add') }}";
    const urlAddTag = "{{ url_for('watchlist.add_tag') }}"
    const urlEditSector = "{{ url_for('watchlist.edit_sector') }}"
    const urlLoadTable = "{{ url_for('watchlist.get_table') }}"
    const urlStream = "{{ url_for('watchlist.stream') }}"

    $(document).ready(function() {
            //this is previous function to reopen modal if any form errors were found
            tableAjax(urlAdd, urlAddTag, urlEditSector, urlLoadTable);
        });

        
        //maybe shift all this to a function
        let eventSource = new EventSource(urlStream);
        //eventSource addeventlistner is more specific, and incoming would require a bit more formatting
        eventSource.addEventListener('quote', function(event){
            //change the element of the corresponding quote if it exists
            let data = JSON.parse(event.data);
            let ticker = data.ticker_name;
            if ($('#' + ticker)) { 
                $('#' + ticker + '-current_price').text(data.current_price);
                //take care of color changes here as well
                $('#' + ticker + '-day_gain').text(data.change);
                $('#' + ticker + '-percent_gain').text(data.change_percent);

            }
        })

</script>
{% endblock %}