{% extends "layout.html" %}

{% block content %}

<div class="index-flash">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
        {% for category, message in messages%}
            <div class="alert alert-{{category}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

<div class='console-container'>
    <i class="far fa-smile"></i>
    <span id='text'></span>
    <div class='console-underscore' id='console'>&#95;</div>
</div>

<!-- need to add <a> tag here for create an account button-->
<!-- also if logged in then should be a slighly different page-->
<div class='homepage-text-container'>
    <button type="button" class="btn btn-outline-primary">Create an account</button>
     or search for a stock to get started!
</div>

{% endblock %}