{% extends "layout.html" %}


{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lekton&display=swap" rel="stylesheet">

<div class='console-container'>
    <i class="far fa-smile"></i>
    <span id='text'></span>
    <div class='console-underscore' id='console'>&#95;</div>
</div>

<div class='homepage-text-container'>
    <button type="button" class="btn btn-outline-primary">Create an account</button>
     or search for a stock to get started!
</div>
{% endblock %}