{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div class="text-center" style="margin-top: 15%;">
    <i class="fas fa-cog fa-spin fa-4x"></i>

    <h3 style="margin-top: 7.5%;"> Loading your {{ pageName }}...</h1>
</div>

{% endblock %}

{% block scripts %}
<script>
    const url = "{{ url }}"
    //create AJAX request to the main page that you want to load...
    $.ajax({
        type: "POST",
        url: url,
        success: function(result){
            window.location.replace(url)
        },
        error: function(result){
            console.log(result)
        }
    })
</script>
{% endblock %}

