appnope==0.1.2
APScheduler==3.8.1
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
backports.zoneinfo==0.2.1
batchquotes==0.0.9
bcrypt==3.2.0
beautifulsoup4==4.9.3
bidict==0.21.2
blinker==1.4
botocore==1.20.97
Brotli==1.0.9
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptocompare==0.7.5
currency-symbols==2.0.0
cycler==0.10.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dataclasses==0.8
decorator==4.4.2
dnspython==2.1.0
dominate==2.6.0
email-validator==1.1.2
Flask==1.1.2
Flask-APScheduler==1.12.2
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.9.0
Flask-Dance==3.3.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
Flask-Table==0.5.0
Flask-WTF==0.14.3
FundamentalAnalysis==0.2.7
future==0.18.2
get-all-tickers==1.7
googlefinance==0.7
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
importlib-metadata==3.7.3
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==5.5.0
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
multitasking==0.0.9
munch==2.5.0
nbformat==4.2.0
networkx==2.5.1
numpy==1.19.5
oauthlib==3.1.0
opencv-python-headless==4.4.0.42
packaging==21.0
pandas==1.1.5
parso==0.8.1
pdfkit==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
plotly==4.14.3
pluggy==1.0.0
prompt-toolkit==3.0.17
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
pycryptodome==3.9.8
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.5
python-dateutil==2.8.1
python-engineio==4.0.1
python-socketio==5.1.0
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
pyzmq==22.0.3
QuantStats==0.0.26
requests==2.24.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
retrying==1.3.3
s3transfer==0.4.2
scipy==1.5.4
seaborn==0.11.1
simplejson==3.17.2
six==1.15.0
soupsieve==2.2
SQLAlchemy==1.4.3
SQLAlchemy-Utils==0.36.8
stockquotes==2.0.1
tabulate==0.8.9
tifffile==2020.9.3
toml==0.10.2
tornado==6.1
traitlets==4.3.3
typing-extensions==3.7.4.3
tzdata==2021.5
tzlocal==4.1
urllib3==1.25.11
URLObject==2.4.3
visitor==0.1.3
wcwidth==0.2.5
Werkzeug==1.0.1
WTForms==2.3.3
yfinance==0.1.63
zipp==3.4.1
