{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div class="text-center" style="margin-top: 15%; display: none;" id="add-wait">
    <i class="fas fa-cog fa-spin fa-4x"></i>

    <h3 style="margin-top: 7.5%;"> Adding new ticker...</h1>
</div>

<div class="text-center" style="margin-top: 15%; display: none;" id="delete-wait">
    <i class="fas fa-cog fa-spin fa-4x"></i>

    <h3 style="margin-top: 7.5%;"> Deleting ticker...</h1>
</div>

<div id="main-content">
    <h1 class="search-title">Portfolio</h1>
    <div>
        {{ table }}
        {% if empty %}
        <p id="empty-message" style="text-align:center;" style="margin-top: 2%;">
            Your portfolio is currently empty!
        </p>
        {% endif %}
    </div>
    <form method="POST", accept-charset="UTF-8" id="add-form" style="margin-top: 2%;">
        {{ add_form.csrf_token(id="add-csrf") }}
        <div class="form-row justify-content-center">
            <div class="col-auto">
                {{ add_form.ticker_name(class="form-control border-1 small", style="font-size: 14px;") }}
                <div id="ticker-name-error" class="invalid-feedback"></div>
            </div>
            <div class="col-auto">
                {{ add_form.purchase_price(class="form-control border-1 small", style="font-size: 14px;")}}
                <div id="purchase-price-error" class="invalid-feedback"></div>
            </div>
            <div class="col-auto">
                {{ add_form.quantity(class="form-control border-1 small", style="font-size: 14px;")}}
                <div id="quantity-error" class="invalid-feedback"></div>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-dark" style="font-size:14px;" id="add-submit">
                    <i class="fas fa-plus-square"></i>
                </button>
            </div>
            
        </div>
    </form>
    <form method="POST", accept-charset="UTF-8" id="sell-form" style="margin-top: 2%;">
        {{ sell_form.csrf_token(id="sell-csrf") }}
        <div class="form-row justify-content-center">
            <div class="col-auto">
                {{ sell_form.ticker_name(class="form-control border-1 small", style="font-size: 14px;") }}
                <div id="sell-ticker-name-error" class="invalid-feedback"></div>
            </div>
            <div class="col-auto">
                {{ sell_form.sell_price(class="form-control border-1 small", style="font-size: 14px;") }}
                <div id="sell-price-error" class="invalid-feedback"></div>
            </div>
            <div class="col-auto">
                {{ sell_form.quantity(class="form-control border-1 small", style="font-size: 14px;") }}
                <div id="sell-quantity-error" class="invalid-feedback"></div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-dark" style="font-size:12.5px;" id="sell-submit">
                    <i class="fas fa-coins"></i>
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/portfolio.js"></script>
<link rel="stylesheet" type='text/css' href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script>
    //initialize addform ajax
    let urlAdd = "{{ url_for('portfolio.add') }}";

    $(document).ready(function() {
        addAjax(urlAdd);
        $('#portfolio-table').DataTable({
                "order": [],
            });
    });

</script>
{% endblock %}