{% extends "layout_2.html" %}

{% block head %}
<link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" crossorigin="anonymous">    
{% endblock %}

{% block content %}

<div class="text-center" style="margin-top: 15%;" id="loading">
    <i class="fas fa-spinner fa-pulse fa-4x"></i>

    <h1 style="margin-top: 7.5%;"> Loading your Portfolio...</h1>
</div>

<div class="text-center" style="margin-top: 15%; display: none;" id="wait">
    <i class="fas fa-spinner fa-pulse fa-4x"></i>

    <h3 style="margin-top: 7.5%;"> Processing...</h1>
</div>

<div id="main-content" style="display: none; ">
    <h1 class="search-title">Portfolio</h1>
    <div id="table-div" class="tableDiv"></div>
    <p id="empty-message" style="text-align:center;" style="margin-top: 5%; display: none;">
        Your portfolio is currently empty!
    </p>
    <form method="POST", accept-charset="UTF-8" id="order-form" class="row g-3 order-form">
        {{ order_form.csrf_token(id="order-csrf") }}
        <div class="col-md-6">
            {{ order_form.order_ticker_name(class="form-control border-1 small", style="font-size: 14px;") }}
            <div id="order-ticker-name-error" class="mw-25 invalid-feedback"></div>
        </div>
        <div class="col-md-6">
            {{ order_form.order_price(class="form-control border-1 small", style="font-size: 14px;")}}
            <div id="order-price-error" class="mw-25 invalid-feedback"></div>
        </div>
        <div class="col-md-6">
            {{ order_form.order_quantity(class="form-control border-1 small", style="font-size: 14px;")}}
            <div id="order-quantity-error" class="mw-25 invalid-feedback"></div>
        </div>
        <div class="col-md-4">
            {% for choice in order_form.order_type%}
                <div class="form-check form-check-inline">
                    {{ choice(class="form-check-input")}}
                    {{ choice.label(class="form-check-label") }}
                </div>
            {% endfor %}
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn btn-dark" style="font-size:14px;" id="add-submit">
                Submit
            </button>
        </div>
    </form>

</div>

{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/portfolio.js"></script>
<link rel="stylesheet" type='text/css' href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
<script>
    //initialize addform ajax
    const urlOrder = "{{ url_for('portfolio.order') }}";
    const urlLoadTable = "{{ url_for('portfolio.get_table') }}";

    $(document).ready(function() {
        tableAjax(urlOrder, urlLoadTable);
    });

</script>
{% endblock %}