
.table-collapse {
	
	.collapse-control {
		cursor: pointer;
		transition: 0.2s;
		
		&:not(.collapsed),
		&:hover {
			background-color: $primary-color-tint;
			td {
				border-top-color: $white;
			}
		}
		
		td {
			&:first-child {
				position: relative;
				padding-left: 2.25em;
				
				&::before {
					content: '👆';
					position: absolute;
					left: 0.75em;
					transition: 0.35s;
				}
			}
		}
		
		&.collapsed {
			td {
				&:first-child {
					&::before {
						transform: rotateX(180deg);
					}
				}
			}
		}
	}
	
	.collapse-td {
		padding-top: 0;
		padding-bottom: 0;
		border-top: 0;
		background-color: $primary-color-tint;
	}
}